.header {
  position: relative;
}

.closeContainer {
  cursor: pointer;
}

.editContainer {
  cursor: pointer;
}

.closeContainer *,
.editContainer * {
  pointer-events: none;
}

.image {
  height: 20vh;
  object-fit: cover;
}
